Plugins>Inpainting, "Basic Inpainting", fr.curie.inpainting.Basic_InPainting("")
Plugins>Inpainting, "Basic Inpainting 3D", fr.curie.inpainting.Basic_InPainting3D("")
Plugins>Inpainting, "blind Inpainting", fr.curie.inpainting.Blind_Inpainting_l0TV("")
Plugins>Inpainting, "Inpainting (Garcia)", fr.curie.inpainting.Inpainting_DGarcia("")
Plugins>Inpainting, "Inpainting OpenCV", fr.curie.inpainting.Inpainting_OpenCV("")
Plugins>Inpainting, "Inpainting AMLE", fr.curie.inpainting.AMLE_InpaintParallelColt("")
Plugins>Inpainting, "Inpainting AMLE OpenCV", fr.curie.inpainting.AMLE_Inpaint("")